<!-- CUERPO -->
<div class="web-sii cuerpo">
    <div class="container">
        <ol class="breadcrumb">
            <li>
                <a href="/#/admin">Home</a>
            </li>
            <li>
                <a href="/#/admin-local">Portal</a>
            </li>
            <li>
                <a href="/#/admin-local/listado/charlas">Listado de Actividades Programadas</a>
            </li>
            <li class="active">Ver / Editar Actividad Programada</li>
        </ol>
        <div>
            <div class="col-sm-12 contenido">
                <form class="form-horizontal" name="FormNuevaCharla">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <div class="input-group">
                            <input type="text" readonly ng-model="vm.data.charla.actividadSelectHumanText" value="" class="form-control">
                            <span class="input-group-btn">
                              <button class="btn btn-default" data-toggle="modal" data-target="#selecion-actividad">Seleccionar Actividad Academica</button>
                            </span>
                          </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Fecha Inicio</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" required datetimepicker datetimepicker-options="{{vm.optFechaInicio()}}" placeholder="DD/MM/AAAA" ng-model="vm.data.charla.fechaInicio">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Fecha Termino</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" required datetimepicker datetimepicker-options="{{vm.optFechaFin()}}" placeholder="DD/MM/AAAA" ng-model="vm.data.charla.fechaTermino">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Cupos</label>
                        <div class="col-sm-10">
                            <input type="number" required name="name" value="" class="form-control" ng-model="vm.data.charla.cupos" min="0">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Dirección</label>
                        <div class="col-sm-10">
                            <input type="text" ng-maxlength="100" ng-minlength="0" minlength="0" maxlength="100" ng-model="vm.data.charla.direccion" class="form-control" placeholder="Dirección" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">DR</label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="vm.data.charla.dr">
                                <option ng-repeat="item in vm.dr  | orderBy:'nombreUnidad'">{{item}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Comuna</label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="vm.data.charla.comuna">
                                <option ng-repeat="item in vm.comunas  | orderBy:'descripcion'" value="{{item.codigo}}">{{item.descripcion}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Rut Funcionario</label>
                        <div class="col-sm-10">
                            <input type="text" ng-rut ng-maxlength="12" ng-minlength="6" minlength="6" maxlength="13" ng-model="vm.data.charla.monitorSelect" class="form-control" placeholder="Rut" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">

                          <button class="btn btn-sistema-charlas" ng-click="vm.gotoRegistrar()" > Revertir
                          </button>
                          
                            <button class="btn btn-danger" ng-click="vm.gotoRegistrar()" ng-disabled="FormNuevaCharla.$invalid" data-toggle="modal" data-target="#modal-suspender-charla"> Suspender y Notificar
                            </button>



                            <button class="btn btn-default" ng-click="vm.gotoRegistrar()" ng-disabled="vm.desactiveButton" ng-if="!vm.saveAndNotify" ng-disabled="FormNuevaCharla.$invalid"> Guardar sin Notificar
                            </button>

                            <button class="btn btn-default" ng-click="vm.gotoRegistrar()" ng-disabled="vm.desactiveButton" ng-if="vm.saveAndNotify"> Guardar y Notificar
                            </button>

                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!-- FIN CUERPO -->

    <style media="screen">
        .modal-backdrop.in {
            display: none;
        }
        modal-add-charla .modal.fade.in {
            background: hsla(0,0%,0%,.5);
        }
        modal-suspender-charla .modal.fade.in {
            background: hsla(0,0%,0%,.5);
        }

    </style>
    <modal-add-charla>
        <div class="modal fade bs-example-modal-lg" id="selecion-actividad" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="sistema-charla-modal-container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="input-group">
                                    <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Ingrese texto a buscar...">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-primary">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <table class="table" id="table">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Descripción</th>
                                            <th>Documentación</th>
                                            <th>Acción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Tipo de contribuyente</td>
                                            <td>esta actividad tiene como...</td>
                                            <td><button type="button" class="btn btn-primary">
                                              <i class="fa fa-download" aria-hidden="true"></i> Documentación
                                            </button></td>
                                            <td><button type="button" ng-click="vm.selectAct(1,'Tipo de contribuyente')" class="btn btn-primary">
                                              <i class="fa fa-plus" aria-hidden="true"></i> Seleccionar
                                            </button></td>
                                        </tr>
                                        <tr>
                                            <td>Como declarar IVA</td>
                                            <td>esta actividad tiene como...</td>
                                            <td><button type="button" class="btn btn-primary">
                                              <i class="fa fa-download" aria-hidden="true"></i> Documentación
                                            </button></td>
                                            <td><button type="button" ng-click="vm.selectAct(2,'Como declarar IVA')" class="btn btn-primary">
                                              <i class="fa fa-plus" aria-hidden="true"></i> Seleccionar
                                            </button></td>
                                        </tr>
                                        <tr>
                                            <td>Una nueva Forma de hacer las cosas</td>
                                            <td>esta actividad tiene como...</td>
                                            <td><button type="button" class="btn btn-primary">
                                              <i class="fa fa-download" aria-hidden="true"></i> Documentación
                                            </button></td>
                                            <td><button type="button" ng-click="vm.selectAct(3,'Una nueva Forma de hacer las cosas')" class="btn btn-primary">
                                              <i class="fa fa-plus" aria-hidden="true"></i> Seleccionar
                                            </button></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </modal-add-charla>

<modal-suspender-charla>

    <div class="modal fade" id="modal-suspender-charla" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-dialog-ng" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Seguro que desea suspender esta Actividad?</h4>
          </div>
          <div class="modal-body">
            <table class="table" id="{{idc}}">
        <tbody>
          <p>Recuerde que esta acción no se puede deshacer.</p>
        </tbody>
      </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> No, suspendere en otro momento</button>
            <button type="button" class="btn btn-primary" ng-click="vm.suspenderActividad(idc)"><i class="fa fa-check" aria-hidden="true"></i> Si, suspender ahora esta Actividad</button>
          </div>
        </div>
      </div>
    </div>
</modal-suspender-charla>
