<!-- CUERPO -->
<div class="web-sii cuerpo">
  <div class="container">
    <ol class="breadcrumb">
      <li><a ui-sref="Index">Home</a></li>
      <li><a href="/#/admin-local/">Portal</a></li>
      <li><a href="/#/admin-local/actividad/explorar">Catálogo de Actividades</a></li>
      <li class="active">Ver/Editar Actividad Academica</li>
    </ol>
  <div>
    <div class="col-sm-12 contenido">
        <h3>Ver/Editar Actividad Academica</h3>

        <form class="form-horizontal" name="FormNuevaActAcad">
          <div class="form-group">
            <label class="col-sm-2 control-label">Nombre Actividad</label>
            <div class="col-sm-10">
              <input readonly
                type="text"
                ng-maxlength="100"
                maxlength="100"
                ng-model="vm.data.actividad.nombre"
                class="form-control"
                placeholder="Nombre Actividad"
                required replace="[\d+]">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Descripción <br><small>quedan: {{255-vm.data.actividad.descripcion.length}}</small></label>
            <div class="col-sm-10">
              <textarea readonly
                name="name"
                rows="2"
                cols="40"
                ng-maxlength="255"
                maxlength="255"
                class="form-control"
                ng-model="vm.data.actividad.descripcion"
                placeholder="Descripción"
                required
                ></textarea>
            </div>
          </div>
          <div class="form-group">
              <label class="col-sm-2 control-label">Programa</label>
              <div class="col-sm-10">
                  <input readonly
                    type="text"
                    ng-maxlength="100"
                    ng-minlength="0"
                    minlength="0"
                    maxlength="100"
                    ng-model="vm.data.actividad.programa"
                    class="form-control"
                    placeholder="Programa"
                    required
                    >
              </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Destinatario</label>
            <div class="col-sm-10">
              <input
                type="text" readonly
                ng-maxlength="100"
                ng-minlength="0"
                minlength="0"
                maxlength="100"
                ng-model="vm.data.actividad.destinatario"
                class="form-control"
                placeholder="Destinatario"
                required
                >
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Modalidad</label>
            <div class="col-sm-10">
              <select class="form-control" name="" ng-model="vm.data.actividad.modalidad" readonly>
                <option value="1">Presencial</option>
                <option value="2">e-Learning</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Objetivo</label>
            <div class="col-sm-10">
              <input readonly
              type="text"
              ng-maxlength="100"
              ng-minlength="0"
              minlength="0"
              maxlength="100"
              ng-model="vm.data.actividad.objetivo"
              class="form-control"
              placeholder="Objetivo"
              required
                >
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Metodología <br><small>quedan: {{1000-vm.data.actividad.metodologia.length}}</small></label>
            <div class="col-sm-10">
              <textarea readonly
                name="name"
                rows="8"
                cols="40"
                ng-maxlength="1000"
                maxlength="1000"
                class="form-control"
                ng-model="vm.data.actividad.metodologia"
                placeholder="Metodoligía"
                required
                ></textarea>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Tipo Programa</label>
            <div class="col-sm-10">
              <input readonly
              type="text"
              ng-maxlength="100"
              ng-minlength="0"
              minlength="0"
              maxlength="100"
              ng-model="vm.data.actividad.tipo_programa"
              class="form-control"
              placeholder="Tipo de programa"
              required
                >
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Temario <br><small>quedan: {{1000-vm.data.actividad.temario.length}}</small></label>
            <div class="col-sm-10">
              <textarea readonly
                name="name"
                rows="8"
                cols="40"
                ng-maxlength="1000"
                maxlength="1000"
                class="form-control"
                ng-model="vm.data.actividad.temario"
                placeholder="Temario"
                required
                ></textarea>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Documento</label>
            <div class="col-sm-10">

              <a href="{{vm.data.actividad.documento}}" class="btn btn-default"><i class="fa fa-download"></i> Descargar documento</a>

            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Duración (Horas) <br/> {{vm.duracionCalculada}}</label>
            <div class="col-sm-10">
              <input readonly
                type="number"
                ng-model="vm.data.actividad.duracion"
                class="form-control"
                required
                ng-change="vm.duracionCalcular()"
                >
            </div>
          </div>

        </form>
      </div>
  </div>
</div>
<!-- FIN CUERPO -->
