<!-- CUERPO -->
<div class="web-sii cuerpo">
    <div class="container">
      <ol class="breadcrumb">
          <li><a href="/#/">Home</a></li>
          <li><a href="/#/admin">Portal</a></li>
          <li><a href="#/admin/actividad/explorar">Catálogo de Actividades Activas</a></li>
          <li class="active">Ver / Editar Actividades Activas</li>
      </ol>
      <form class="form-horizontal" name="FormNuevaActAcad">
        <div class="form-group">
          <label class="col-sm-2 control-label">Nombre Actividad</label>
          <div class="col-sm-10">
            <input
              type="text"
              ng-maxlength="100"
              maxlength="100"
              ng-model="vm.data.actividad.nombre"
              class="form-control"
              placeholder="Nombre Actividad"
              required replace="[\d+]">
          </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Programa</label>
            <div class="col-sm-10">
                <input
                  type="text"
                  ng-maxlength="100"
                  ng-minlength="0"
                  minlength="0"
                  maxlength="100"
                  ng-model="vm.data.actividad.programa"
                  class="form-control"
                  placeholder="Programa"
                  required
                  >
            </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Destinatario</label>
          <div class="col-sm-10">
            <input
              type="text"
              ng-maxlength="100"
              ng-minlength="0"
              minlength="0"
              maxlength="100"
              ng-model="vm.data.actividad.destinatario"
              class="form-control"
              placeholder="Destinatario"
              required
              >
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Tipo</label>
          <div class="col-sm-10">
            <select class="form-control" name="" ng-model="vm.data.actividad.tipo">
              <option value="1">Seminario</option>
              <option value="2">Charla</option>
              <option value="3">Curso</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label" for="modalidad">Modalidad</label>
          <div class="col-sm-10">
            <select class="form-control" name="modalidad" ng-model="vm.data.actividad.modalidad">
              <option value="1">Presencial</option>
              <option value="2">e-Learning</option>
              <option value="3">Tutorial</option>
              <option value="4">Caso</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Duración (horas)</label>
          <div class="col-sm-10">
            <input
              type="number"
              ng-model="vm.duracion"
              class="form-control"
              required
              >
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Objetivo</label>
          <div class="col-sm-10">
            <input
            type="text"
            ng-maxlength="100"
            ng-minlength="0"
            minlength="0"
            maxlength="100"
            ng-model="vm.data.actividad.objetivo"
            class="form-control"
            placeholder="Objetivo"
            required
              >
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Temario <br><small>quedan: {{1000-vm.data.actividad.temario.length}}</small></label>
          <div class="col-sm-10">
            <textarea
              name="name"
              rows="8"
              cols="40"
              ng-maxlength="1000"
              maxlength="1000"
              class="form-control"
              ng-model="vm.data.actividad.temario"
              placeholder="Temario"
              required
              ></textarea>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Metodología <br><small>quedan: {{1000-vm.data.actividad.metodologia.length}}</small></label>
          <div class="col-sm-10">
            <textarea
              name="name"
              rows="8"
              cols="40"
              ng-maxlength="1000"
              maxlength="1000"
              class="form-control"
              ng-model="vm.data.actividad.metodologia"
              placeholder="Metodología"
              required
              ></textarea>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Estado</label>
          <div class="col-sm-10">
            <input type="checkbox" ng-model="vm.data.actividad.activa">
            <label class="checkbox-inline">{{vm.data.actividad.activa?'Activa':'Inactiva'}}</label>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Documento</label>
          <div class="col-sm-10">
            <input type="file" class="btn btn-default" required ng-if="vm.estadoCarga">
            <a href="http://www.google.cl"  ng-if="!vm.estadoCarga" class="btn btn-default"><i class="fa fa-download"></i> Descargar documento</a>
            <button type="button" name="button"  ng-if="!vm.estadoCarga" class="btn btn-default" ng-click="vm.estadoCarga = true">Cargar nuevo Documento</button>
            <button type="button" name="button"  ng-if="vm.estadoCarga" class="btn btn-default" ng-click="vm.estadoCarga = false">Revertir</button>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button
              class="btn btn-default"
              ng-click="vm.gotoRegistrar()"
              ng-disabled="FormNuevaActAcad.$invalid"
              >Guardar
            </button>
          </div>
        </div>
      </form>
  </div>
</div>
