<!-- CUERPO -->
<div class="web-sii cuerpo">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="index.html">Home</a> </li>
      <li><a href="/#/public">Portal</a></li>
      <li><span class="active">Actividades disponibles</span></li>
    </ol>
    <div>

        <h2 class="title">Calendario de Actividades {{vm.param.type}}</h2>
        <p style="text-align:justify">
          El Servicio de Impuestos Internos invita a los contribuyentes a parcicipar de las Actividades sobre la Reforma Tributaria, Factura Electr&oacute;nica y Educación fiscal, entre otros temas de interés, que se realizan en las Direcciones Regionales de todo el pais.
        </p>
        <p>
          Infórmese seleccionando la Dirección Regional correspondiente de su domicilio.
        </p>
        <div class="table-responsive">
        <table class="table table-condensed table-bordered cf" ng-if="vm.data.charlas.data.length">
          <thead class="cf">
            <tr>
              <th class="text-center" style="vertical-align:middle">Dirección Regional o Unidad Organizadora</th>
              <th class="text-center" style="vertical-align:middle">Tema</th>
              <th class="text-center" style="vertical-align:middle">Lugar / Dirección</th>
              <th class="text-center" style="vertical-align:middle">Fecha Realización</th>
              <th class="text-center" style="vertical-align:middle">Horario</th>
              <th class="text-center" style="vertical-align:middle" ng-if="vm.param.type != 'historicas'">Cupos</th>
              <th class="text-center" style="vertical-align:middle" ng-if="vm.param.type != 'historicas'">Inscripción</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in vm.data.charlas.data" ng-class="vm.compareCharlas(item.id)">
              <td>{{item.dr}}</td>
              <td>{{item.tema}}</td>
              <td>{{item.direccion}}</td>
              <td>{{item.fecha | date:'fullDate'}}</td>
              <td>{{item.fecha | date:'shortTime'}}</td>
              <td ng-if="vm.param.type != 'historicas'">{{item.cupos}}</td>
              <td>
                <button class="btn btn-primary" ng-click="vm.charlaInscribir(item)" ng-if="item.estado == 0">Inscribirme</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
        <!-- EN CASO DE NO EXISTIR CURSOS, mostrar este mensaje -->
        <div class="alert alert-info" role="alert" ng-if="vm.data.charlas.data.length < 1">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Info:</span>
          No existen Actividades en este momento
        </div>
      </div>
    </div>
</div>
<!-- FIN CUERPO -->
