<!-- CUERPO -->
<div class="web-sii cuerpo">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/#/">Home</a></li>
            <li><a href="{{vm.urlAnteriorPortal}}">Portal</a></li>
            <li><a href="{{vm.urlAnterior}}">{{vm.textoUrlAnterior}}</a></li>
            <li class="active">Formulario Inscripción (confirmación)</li>
        </ol>

        <div>
            <div class="bloque bloque-gris bloque-spacer sistema-charlas-bloque sistema-charlas-table-vertical">
                <h3 class="bloque-title">Inscripcion existosa charla {{vm.data.charla.tema}}</h3>
                <div class="row">
                    <div class="col-md-3 text-right">TEMA:</div>
                    <div class="col-md-9">{{vm.data.charla.tema}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3 text-right">TIPO:</div>
                    <div class="col-md-9">{{vm.data.charla.tipo}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3 text-right">DIRECCIÓN REGIONAL:</div>
                    <div class="col-md-9">{{vm.data.charla.dr}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3 text-right">DIRECCIÓN:</div>
                    <div class="col-md-9">{{vm.data.charla.direccion}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3 text-right">FECHA:</div>
                    <div class="col-md-9 ">{{vm.data.charla.fecha | date:'fullDate'}}</div>
                </div>

                <div class="row">
                    <div class="col-md-3 text-right">Participante:</div>
                    <div class="col-md-9 ">{{vm.data.charla.participante.nombre + ' ' + vm.data.charla.participante.apellido}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3 text-right">EMAIL ENVIADO A:</div>
                    <div class="col-md-9 text-danger"><strong>{{vm.data.charla.participante.email}}</strong></div>
                </div>
            </div>
            <div class="row">
                <p class="text-center">
                    Su codigo de confirmacion es:
                </p>
            </div>
            <div class="row">
                <div class="well-lg text-center center-block col-sm3">
                    <input limit-to="6"
                            type="text"
                            class="form-control sistema-charlas-input-code-view"
                            ng-model="vm.data.charla.codigo"
                            readonly>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-success" ng-click="vm.volver()" >{{vm.volver.texto}}</button>
                </div>
            </div>
            </br>
            <div class="alert alert-info" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Info:</span>
                <p>Por favor guarde el codigo de inscripción. Este es necesario para ingresar a la sala de clase.</p>
                <p>Si no puedes asistir a una charla, recuerda que otros podrían apreciar el cupo, puedes cancelar tu
                    participación usando codigo de inscripción.</p>
            </div>

        </div>
    </div>
</div>
</div>
<!-- FIN CUERPO -->
